.sidebarWrapper {
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}
/* .sidebarWrapper .sidebarHeading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
} */

.pageContentWrapper {
  min-width: 0;
  width: 100%;
}
